html{
    font-family: 'Roboto', sans-serif;
}

*{
    margin :  0;
    padding :  0;
    box-sizing: border-box;
 }

 .layout{
     width: 80%;
     margin: 0 auto;
 }

 .logo{
     width: 10em;
 }

 nav{
    margin: 25px 0;
}

.link{
    text-decoration: none;
}

.menu{
    color: grey;
    margin-right: 2px;
}

.intro{
    height:30em;
    background-color: rgb(173, 78, 9);
    background-image: url(../img/banner.jpg);
    background-position: center;
    color: white;
    border-radius: 2%;
}

.titolo{
    padding-left: 40px;
}

.title{
    padding-top: 9em;
}

.titolo-main{
    padding: 30px 0 20px 0;
    font-weight: 1000;
}

.sottotitolo{
    display: block;
    color: gray;
    font-size: small;
}