html{
    font-family: 'Roboto', sans-serif;
}

*{
    margin :  0;
    padding :  0;
    box-sizing: border-box;
 }

 .layout{
     width: 80%;
     margin: 0 auto;
 }

 .logo{
     width: 10em;
 }

 nav{
    margin: 25px 0;
}

.link{
    text-decoration: none;
}

.menu{
    color: grey;
    margin-right: 2px;
}

.intro{
    height:30em;
    background-color: rgb(173, 78, 9);
    background-image: url(../img/banner.jpg);
    background-position: center;
    color: white;
    border-radius: 2%;
}

.titolo{
    padding-left: 40px;
}

.title{
    padding-top: 9em;
}

.titolo-main{
    padding: 30px 0 20px 0;
    font-weight: 1000;
}

.sottotitolo{
    display: block;
    color: gray;
    font-size: small;
}


.contenitore::after{
    display: table;
    content: "";
    clear: both;
}

.colonna-sx{
    width: 20%;
    float: left;
    color: grey;
}

.img{
    height: 12em;
    background-color: goldenrod;
    border-radius: 2%;
}

.p-t{
    padding: 10px 0;
}

.colonna-dx{
    width: 20%;
    float: right;
    color: gray;
}

.colonna-cntr{
    float: left;
    margin: 0 1em;
    width: calc(100% - 40% - 2em);
    color: gray;  
}

.img-sx{
    background-image: url(../img/img-1.jpg);
    background-size: cover;
}

.img-cntr{
    background-image: url(../img/banner-2.jpg);
    background-size: cover;
    background-position: center;
}

.img-dx{
    background-image: url(../img/img-3.jpg);
    background-size: cover;
}
}